# Rename this file to .env and replace the placeholder values with your actual configuration.
JUPYTER_TOKEN=your_jupyter_token_here

API_PORT=
JUPYTER_PORT=

WIX_AUTH_SECRET=your_wix_auth_secret_here

JWT_SUBJECT_EVENTS=REPLACE-ME-EVENTS-JWT-SUB
JWT_SUBJECT_POSTS=REPLACE-ME-POSTS-JWT-SUB
JWT_SUBJECT_COLLECTIONS=REPLACE-ME-COLLECTIONS-JWT-SUB
JWT_SUBJECT_BLOG_TAXONOMIES=REPLACE-ME-BLOG-TAXONOMIES-JWT-SUB
JWT_SUBJECT_MEMBERS=REPLACE-ME-MEMBERS-JWT-SUB

WIX_EVENTS_ENDPOINT=https://www.yourdomain.com/_functions/yourEventsEndpoint
WIX_POSTS_ENDPOINT=https://www.yourdomain.com/_functions/yourPostsEndpoint
WIX_COLLECTIONS_ENDPOINT=https://www.yourdomain.com/_functions/yourCollectionsEndpoint
WIX_BLOG_TAXONOMIES_ENDPOINT=https://www.yourdomain.com/_functions/yourBlogTaxonomiesEndpoint
WIX_MEMBERS_ENDPOINT=https://www.yourdomain.com/_functions/yourMembersEndpoint
